<article class="playerCard">
    {% if player.owner.avatar is not null %}
        <img src="{{vich_uploader_asset(player.owner, 'avatarFile')}}" alt="Image d'avatar utilisé par {{player.owner}}" class="avatar">
    {% else %}
        <img src="{{asset('images/placeholder.png')}}" alt="Placeholder d'avatar pour {{player.owner}}" class="avatar">
    {% endif %}
    <h3 class="playerName">{{player.owner}}</h3>

    <p class="playerServer"><img class="icon" src="{{asset('/images/icon/crystalIcon.png')}}" alt="Icône du crystal d'Hydealyn de Final Fantasy XIV">{{player.homeWorld}}</p>

    <div class="playerJobContainer">
        <p class="smallText">Cliquez sur un role pour afficher les détails</p>
        <div class="role">
        {% set containTank = false %}
        {% set containHealer = false %}
        {% set containDps = false %}
        {% for job in player.job.snapshot %}
            {% if job.role.label == 'Tank' %}
                {% set containTank = true %}
            {% elseif job.role.label == 'Healer' %}
                {% set containHealer = true %}
            {% elseif job.role.label == 'Dps' %}
                {% set containDps = true %}
            {% endif %}
        {% endfor %}
        {% if containTank %}
            <img src="{{asset('images/icon/tank.png')}}" alt="Icône du rôle de Tank dans Final Fantasy XIV" class="icon" data-role="tank" title="Tank">
        {% endif %}

        {% if containHealer %}
            <img src="{{asset('images/icon/healer.png')}}" alt="Icône du rôle de Soigneur dans Final Fantasy XIV" class="icon" data-role="healer" title="Healer">
        {% endif %}
        
        {% if containDps %}
            <img src="{{asset('images/icon/dps.png')}}" alt="Icône du rôle du Dps dans Final Fantasy XIV" class="icon" data-role="dps" title="Dps">
        {% endif %}
        </div>

        <div class="jobContainer jobTank" data-status="hidden" data-role="tank">
        {% for job in player.job %}
            {% if job.role.label == "Tank" %}
                <img class="iconJob" src="{{vich_uploader_asset(job, 'iconFile')}}" alt="Icône du job {{job.label}} dans Final Fantasy XIV" title="{{job.label}}">
            {% endif %}
        {% endfor %}
        </div>
        <div class="jobContainer jobHealer" data-status="hidden" data-role="healer">
        {% for job in player.job %}
            {% if job.role.label == "Healer" %}
                <img class="iconJob" src="{{vich_uploader_asset(job, 'iconFile')}}" alt="Icône du job {{job.label}} dans Final Fantasy XIV" title="{{job.label}}">
            {% endif %}
        {% endfor %}
        </div>
        <div class="jobContainer jobDps" data-status="hidden" data-role="dps">
        {% for job in player.job %}
            {% if job.role.label == "Dps" %}
                <img class="iconJob" src="{{vich_uploader_asset(job, 'iconFile')}}" alt="Icône du job {{job.label}} dans Final Fantasy XIV" title="{{job.label}}">
            {% endif %}
        {% endfor %}
        </div>

    </div>

    <p class="playerType">Joueur {{player.playerType}}</p>
    <p class="playerLanguage">
        <img title="{{player.language}}" class="iconLanguage" src="{{vich_uploader_asset(player.language, 'iconFile')}}" alt="Icône du drapeau {{player.language}}" title="{{player.language}}"> 
    </p>

    <a href="{{path('app_player_detail', {id : player.id})}}" class="button buttonPlayer">Lire plus <i class="fa-solid fa-arrow-right"></i></a>
</article>